==
function onStart()
{
    $this['canonical'] = $this['canonical'] ?? request()->url();
}
==
{% set company_name    = 'Winter CMS Tricks' %}
{% set homepage_title  = 'Winter Tricks · Winter CMS resources and help articles' %}
{% set theme_color     = '#f35627' %}
{% set theme_css_files = [
    'assets/main.css',
] %}
{% set theme_js_files = [
    'assets/app.js',
] %}

{% if this.environment == 'dev' %}
    <meta name="robots" content="noindex">
{% endif %}

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="theme-color" content="{{ theme_color }}">
<meta name="description" content="{{ this.page.meta_description }}">
<meta name="google-site-verification" content="n_SaXt8K91uUZAaIx5i-PIi2jqHtZv5UIF2D1VJO6XM" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="alternate" type="application/rss+xml" title="Winter Tricks RSS" href="{{ '/rss' | app }}" />
<link rel="canonical" href="{{ canonical }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/apple-touch-icon.png'|theme }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/favicon-32x32.png'|theme }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/favicon-16x16.png'|theme }}">
<link rel="manifest" href="{{ 'assets/site.webmanifest'|theme }}">
<link rel="mask-icon" href="{{ 'assets/safari-pinned-tab.svg'|theme }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ 'assets/favicon.ico'|theme }}">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="msapplication-config" content="{{ 'assets/browserconfig.xml'|theme }}">
<meta name="theme-color" content="#ffffff">
<meta property="og:title" content="{{ 'assets/logo-wintertricks.png'|theme }}" />

<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">

{% set title = this.page.meta_title|default(this.page.title) ~ ' · ' ~ company_name %}

{# Titel für Startseite überschreiben #}
{% set title = this.page.url == '/' ? homepage_title : title %}

<title>{{ title }}</title>

{% if this.environment == 'dev' %}
    {% for asset in theme_css_files %}
        <link href="{{ asset | theme }}" rel="stylesheet">
    {% endfor %}
{% else %}
    <link href="{{ theme_css_files | theme }}" rel="stylesheet">
{% endif %}

{% if this.environment == 'dev' %}
    {% for asset in theme_js_files %}
        <script src="{{ asset | theme }}" async></script>
    {% endfor %}
{% else %}
    <script src="{{ theme_js_files | theme }}" async></script>
{% endif %}

{% styles %}
{% placeholder meta %}
